body {
    background: rgb(233, 227, 227);
  }

.white-bg {
    background-color:white;
}
.teal {
    color:rgb(48, 221, 221);
}

.resized { 
    width:100px;
    height:100px;
    padding:0px;
}


